/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow */

@font-face {
  font-family: 'PokemonSolid';
  src: url('./fonts/PokemonSolidNormal.eot');
  src: local('Pokemon Solid Normal'), local('PokemonSolidNormal'),
      url('./fonts/PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
      url('./fonts/PokemonSolidNormal.woff2') format('woff2'),
      url('./fonts/PokemonSolidNormal.woff') format('woff'),
      url('./fonts/PokemonSolidNormal.ttf') format('truetype'),
      url('./fonts/PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonHollow';
  src: url('./fonts/PokemonHollowNormal.eot');
  src: local('Pokemon Hollow Normal'), local('PokemonHollowNormal'),
      url('./fonts/PokemonHollowNormal.eot?#iefix') format('embedded-opentype'),
      url('./fonts/PokemonHollowNormal.woff2') format('woff2'),
      url('./fonts/PokemonHollowNormal.woff') format('woff'),
      url('./fonts/PokemonHollowNormal.ttf') format('truetype'),
      url('./fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1{
  background-color: #003A70;
  height: 100px;
}

#pokemonHeading{
  font-family: "PokemonSolid"; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 3.5em; 
  margin: 0px 0px 15px 0px;

  text-align: center;
  margin: 0px 0px;

  /*color name, hex, rgba*/
  color: #FFCB05;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke*/
  -webkit-text-stroke: 4px #3D7DCA;
}

#pokemonListText{
  font-family: "PokemonSolid"; 
  font-weight:bolder; 
  font-style: normal; 
  font-size: 1.6em;
  line-height: 0px;

  color: black;
  /* -webkit-text-stroke: 1px red; */
  display: inline;
}

#pokemonList{
  font-family: "PokemonHollow"; 
  font-weight:bolder; 
  font-style: normal; 
  font-size: 1.4em; 
  margin: 0px 0px 10px 0px;

  display: inline;
}

.counter{
  font-size: 0.2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 10px; */
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{
  width: 100%;
}

#item1{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  padding-left: 15px;
  padding-right: 0px;
  margin-right: 0px;
}

#item2{
  width: 950px;
  /* margin: auto; */
  /* width: 00px; */
  grid-column: 2 / -1;
  background-image: url("pokemon_background.jpeg");
  background-repeat:no-repeat;
  background-size: contain;
  background-size: 1500px 450px;

}



#pokemonListContainer{
  height:400px;
  width:250px;
  border:1px solid black;
  font:16px Arial, Serif;
  overflow: scroll;

  scrollbar-color: black white;
  scrollbar-width: thin;
  overflow-x: hidden;
  /* scrollbar-color: red; */
  border: none;
}

.pokemonButton{
  padding: 15px 32px;
  font-size: 20px;
  
  border: none;
  /* color: white; */
  background-color: Transparent;
  cursor: pointer;
}

/* #pokemonListContainer::-webkit-scrollbar{
  width: 0.6rem;
}

#pokemonListContainer::-webkit-scrollbar-track{
  background: white;
}

#pokemonListContainer::-webkit-scrollbar-thumb{
  background: blue;
  border-radius: 10px;
} */

/* body{
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
} */

#pokemonDetailsCardContainer {
  width: 250px;
  /* height: 300px; */
  display: grid;
  /* grid-template-columns: 250px; */
  grid-template-rows: 35px 110px 180px;
  grid-template-areas: "title" "sprite" "info";

  /* border:5px solid #FFCB05; */

  /* border-width: 5px;
  border-color: #FFCB05; */

  border-radius: 18px;
  background-color: #FFCB05;
  /* text-align: center; */

  position:relative; 
  left:140px; 
  top:80px;

  border: 1px solid;
  padding: 10px;
  box-shadow: 7px 10px;
}

#pokemonDetailsCardTitle {
  grid-area: title;
  font-size: 20px;
  padding-top: 4px;
  /* padding-left: 9px; */
  /* width: 200px;
  height: 50px; */
  background-color:#FFCB05;

  /* border: 1px solid; */
  /* border-radius: 12px 12px 0px 0px; */

  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 1px 2px;

  margin-bottom: 5px;
  
  text-align: center;

  
}

#pokemonDetailsCardSprite {
  grid-area: sprite;
  /* display: block; */
  /* padding-left: 40px; */
  /* padding-right: auto; */
  /* max-width: 500px;
  max-height: 500px; */
  background-color: beige;
  width: 250px;
  /* height: 80px; */

  border: 1px solid;
  /* padding: 10px; */
  /* box-shadow: 1px 2px; */

  margin-bottom: 5px;

  
}

#pokemonDetailsCardInfo {
  grid-area: info;
  /* width: 200px;
  height: 100px; */
  padding-top: 5px;
  padding-left: 9px;
  border: 1px solid;
  /* box-shadow: 1px 2px; */
  background-color: #f1e3a9;
  
}

img{
  /* max-width: 500px;
  max-height: 500px; */
  /* display: block; */
  /* width: 50%; */
  height: 110px;
  padding-left: 75px;
  padding-bottom: 30px;
}

.questionMarkImage{
  height: 100px;
  padding-left: 107px;
  padding-top: 2px;
}

.pokemonDetailsCardTitle {
  flex: none;
  height: 60px;
  color: black;
  /* background:
    rgba(59, 122, 240, 0.733); */
}

#pokemonListContainer button{
  padding: 0 2px;
}

.hr{
  margin: 2px;
  width: 95%;
}