@font-face {
  font-family: 'PokemonSolid';
  src: url('./fonts/PokemonSolidNormal.eot');
  src: local('Pokemon Solid Normal'), local('PokemonSolidNormal'),
      url('./fonts/PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
      url('./fonts/PokemonSolidNormal.woff2') format('woff2'),
      url('./fonts/PokemonSolidNormal.woff') format('woff'),
      url('./fonts/PokemonSolidNormal.ttf') format('truetype'),
      url('./fonts/PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonHollow';
  src: url('./fonts/PokemonHollowNormal.eot');
  src: local('Pokemon Hollow Normal'), local('PokemonHollowNormal'),
      url('./fonts/PokemonHollowNormal.eot?#iefix') format('embedded-opentype'),
      url('./fonts/PokemonHollowNormal.woff2') format('woff2'),
      url('./fonts/PokemonHollowNormal.woff') format('woff'),
      url('./fonts/PokemonHollowNormal.ttf') format('truetype'),
      url('./fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1{
  background-color: #003A70;
  height: 100px;
}

#pokemonHeading{
  
  font-family: "PokemonSolid"; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 3.5em; 
  margin: 0px 0px 15px 0px;

  text-align: center;
  margin: 0px 0px;

  /*color name, hex, rgba*/
  color: #FFCB05;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke*/
  -webkit-text-stroke: 4px #3D7DCA;
}

#pokemonList{
  font-family: "PokemonHollow"; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 2.1em; 
  margin: 0px 0px 10px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 10px; */
}

#item1{
  /* width: 100%; */
  /* grid-column: 1 / -1; */
}

#item2{
  width: 75%;
  grid-column: 2 / -1;
  /* background-image: url("pokemon_background.jpeg"); */
}

#item1, #item2{
  padding-left: 65px;
  /* padding-top: 0px; */
}

#pokemonListContainer{
  height:400px;
  width:200px;
  border:1px solid black;
  font:16px Arial, Serif;
  overflow: scroll;
}

body::-webkit-scrollbar{
  width: 0.6rem;
}

body::-webkit-scrollbar-track{
  background: white;
}

body::-webkit-scrollbar-thumb{
  background: blue;
  border-radius: 10px;
}

/* body{
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
} */

.demo-card-square.mdl-card {
  /* width: 500px; */
  height: 400px;
}

.demo-card-square > .mdl-card__title {
  flex: none;
  height: 60px;
  color: #fff;
  /* background:
    rgba(59, 122, 240, 0.733); */
}

#pokemonListContainer button{
  padding: 0 2px;
}